extends layout

block content
    div#sidebar
        input#alertSub(
            type="text"
        )
        input#subButton(
            type="submit"
            value="Add Subscription"
        )
        ul#alertList
            each val in subscriptions
                li
                    a(href='#')= val

    div#content

    script(
        src = "/javascripts/tweets.js"
    )