extends layout

block content
    div#sidebar

        input#alertSub(type="text")
        input#subButton(
            type="submit"
            value="Add Subscription"
        )

        ul#alertList
            each val in subscriptions
                li
                    a(href='#{val}')= val

    div#content

    script.
        var page = { alert: "#{alert}" }

    script(src="/javascripts/tweets.js")
