doctype html
html (lang="en")
    doctype default
    head
    link( rel="stylesheet", href="/public/stylesheets/style.css")
        title SWAB
        body
            h1 Tweet Querying Machine
            div
                p Query 1
            div
                p Query 2
            div
                p Query 3
    block content