body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    height: 70px;
    width: 25%;
    text-align: center;
}

#left{
    float: left;

}

a {
  color: #00B7FF;
}