@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * Main
 */
html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Open Sans', helvetica, arial, sans-serif;
    line-height: 1.5;
    font-size: 1.1rem;
    background: #F5F5F5;
}

a {
    text-decoration: none;
}

/*
 * Sidebar
 */
#sidebar {
    background: #333;
    height: 100%;
    width: 300px;
    float: left;
    position: fixed;
    display: flex;
    flex-flow: column;
}

#sidebar #addBoard {
    padding: 20px;
    overflow: hidden;
    float: left;
    width: 300px;
}

#sidebar #addBoard #boardNameText {
    float: left;
    height: 32px;
    border: 0;
    padding: 0 10px;
    border-right: 0;
    width: 199px;
    background: rgba(255,255,255,0.2);
    color: #CCC;
}

#sidebar #addBoard #boardNameSubmit.button {
   float: left;
   overflow: hidden;
   width: 40px;
   font-size: 25px;
   font-weight: bold;
   padding: 0;
}

#sidebar ul {
   overflow-y: auto;
   flex: 2;
}

#sidebar #sidebar-foot {
    padding: 20px;
    color: #AAA;
}

#sidebar #sidebar-foot a {
   display: block;
   float: right;
   width: 50px;
   color: #56919B;
}


#sidebar li {
    padding: 5px 0;
    margin: 5px 0;
}

#sidebar li.active {
    background: rgba(255, 255, 255, 0.06);
}

#sidebar li a {
    color: #EEE;
    display: block;
    padding: 0 20px;
}

/*
 * Buttons/Inputs
 */
.button {
    background: #56919B;
    cursor: pointer;
    color: #FFF;
    text-shadow: 0 1px rgba(0,0,0,0.4);
    padding: 10px 20px;
}

input.button[type=submit] {
    border: 0;
    height: 32px;
}

input.entry[type=text] {
    padding: 0 10px;
    height: 30px;
    border: solid 1px #CCC;
    border-right: 0;
}

/*
 * Content
 */

#content {
    height: calc(100% - 20px);
    width: calc(100% - 320px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 0 0 300px;
    padding: 10px;
    float: left;
}

#content #addSubContainer {
   position: fixed;
   bottom: 10px;
   right: 10px;
}

/*
 * Board
 */

.pane {
    width: 320px;
    height: calc(100% - 20px);
    float: left;
    background: #FFF;
    border: solid 1px #E2E2E2;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    font-size: 1rem;
}

.pane .pane-head {
    background: #F8F9FA;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pane h2 {
    font-size: 1.4rem;
    padding: 10px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pane .pane-actions {
}

.pane .pane-action {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: solid 1px #E2E2E2;
    text-align: center;
    margin-right: 10px;
    background: -webkit-linear-gradient(top, #fefefe 0%,#efefef 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#efefef 100%);
}

.pane .pane-action span {
    display: block;
    height: 16px;
    width: 16px;
    background-size: contain;
}

.pane .pane-action .pause {
    background-image: url('../images/pause.svg');
}

.pane .pane-action .delete {
    background-image: url('../images/close.svg');
}

.pane .pane-action .play {
    background-image: url('../images/play.svg');
}

.pane .tweet-container {
    overflow-y: auto;
    height: 100%;
}

/*
 * Tweet
 */

.tweet {
    padding: 10px;
    animation: fadein 2s;
    -webkit-animation: fadein 0.5s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tweet mark {
    border-radius: 5px;
    background: #56919B;
    color: #FFF;i
    text-shadow: 0 1px rgba(0,0,0,0.4);
    padding: 1px 4px;
}

.tweet .tweetContent {
    color: #333;
    font-weight: 200;
}

.tweet .tweetInfo {
    overflow: hidden;
}

.tweet .tweetInfo > div {
    float: left;
}

.tweet .tweetInfo .tweetUserName {
    padding-left: 15px;
    line-height: 1.3;
}

.tweet .tweetInfo .tweetRealName a {
    font-size: 0.9rem;
}

.tweet .tweetInfo .tweetScreenName a {
    font-size: 0.8rem;
    color: #666;
}

/*
 * Lightbox
 */
.lightbox {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: none;
}

.lightbox .lightbox-inner {
    margin: 0 auto;
    background: #FFF;
    padding: 20px;

}

.lightbox .lightbox-inner input {
    float: left;
}

/*
 * Other
 */

.clearBoth {
    clear: both;
}

@media (min-width: 800px) {

}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
